# Ignore the myenv directory (virtual environment)
venv/
myenv/

# Ignore processed data directory (generated during preprocessing)
data/processed/

# Ignore raw data directory (original or preprocessed test data)
data/
