# Ignore the myenv directory (virtual environment)
myenv/

# Ignore processed data directory (generated during preprocessing)
processed/

# Ignore raw data directory (original or preprocessed test data)
raw/

# Ignore the results directory (generated during training)
results/
